BASE_URL = https:/$()/vault.lobstr.co
HORIZON_BASE_URL = https:/$()/lobstr.co/horizon
APP_NAME = Debug Vault
APP_BUNDLE_ID = com.ultrastellar.lobstr.vault
BUILD_TYPE = debug // release, qa
ENVIRONMENT_TYPE = production // staging

#include "Pods/Target Support Files/Pods-LOBSTR Vault/Pods-LOBSTR Vault.debug.xcconfig"
#include "Pods/Target Support Files/Pods-LOBSTR VaultTests/Pods-LOBSTR VaultTests.debug.xcconfig"
