BASE_URL = https:/$()/vault.lobstr.co
HORIZON_BASE_URL = https:/$()/horizon.stellar.lobstr.co
APP_NAME = Debug Vault
APP_BUNDLE_ID = com.ultrastellar.lobstr.vault
BUILD_TYPE = debug // release, qa
ENVIRONMENT_TYPE = production // staging

#include "Pods/Target Support Files/Pods-LOBSTR Vault/Pods-LOBSTR Vault.debug.xcconfig"
