BASE_URL = https:/$()/vault-staging.lobstr.co
HORIZON_BASE_URL = https:/$()/horizon.stellar.lobstr.co
APP_NAME = QA Vault Stag
APP_BUNDLE_ID = com.ultrastellar.lobstr.vault.qa
BUILD_TYPE = qa // release, debug
ENVIRONMENT_TYPE = staging // production

#include "Pods/Target Support Files/Pods-LOBSTR Vault/Pods-LOBSTR Vault.qastaging.xcconfig"
