BASE_URL = https:/$()/vault.lobstr.co
HORIZON_BASE_URL = https:/$()/lobstr.co/horizon
APP_NAME = LOBSTR Vault
APP_BUNDLE_ID = com.ultrastellar.lobstr.vault
BUILD_TYPE = release
ENVIRONMENT_TYPE = production

#include "Pods/Target Support Files/Pods-LOBSTR Vault/Pods-LOBSTR Vault.release.xcconfig"
#include "Pods/Target Support Files/Pods-LOBSTR VaultTests/Pods-LOBSTR VaultTests.release.xcconfig"
